.darkBG {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 1024px) {
    top: 70%;
  }
  .modal {
    width: 500px;
    min-height: 300px;
    color: white;
    z-index: 10;
    border-radius: 16px;
    background: #c9c5b8;
    padding: 10px 20px;
    @media (max-width: 1024px) {
      width: 400px;
    }
    @media (max-width: 425px) {
      width: 300px;
    }
    .modalHeader {
      height: 50px;
      overflow: hidden;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      .heading {
        margin: 0;
        padding: 10px;
        color: #2c3e50;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
      }
    }

    .closeBtn {
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 18px;
      color: #2c3e50;
      background: #cccccc;
      transition: all 0.25s ease;
      position: absolute;
      right: 0;
      top: 0;
      align-self: flex-end;
      margin-top: -7px;
      margin-right: -7px;

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        transform: translate(-2px, 1px);
      }
    }

    .modalContent {
      font-size: 14px;
      color: #2c3e50;
      form{
        margin: 10px 0;
      }
    }

    .modalActions {
      bottom: 2px;
      width: 100%;

      .actionsContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cancelBtn, .editBtn {
          font-weight: 500;
          padding: 11px 28px;
          border-radius: 12px;
          font-size: 20px;
          color: #2c3e50;
          background: #fcfcfc;
          transition: all 0.25s ease;

          &:hover {
            box-shadow: none;
            transform: none;
            background: #9f9f9f;
          }
          @media (max-width: 425px) {
            padding: 5px 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}