.container{
  max-width: 1050px;
  margin: auto;
  padding: 0 10px;
  .row_card{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    @media (max-width: 768px){
      justify-content: center;
    }
  }
}